
<div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card mx-4">
            <div class="card-body p-4">
              <h1>Register</h1>
              <p class="text-muted">Create your account</p>
          
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input type="text" id ="firstname" [(ngModel)]="registeruser.firstname" name ="firstname" #firstname="ngModel"class="form-control" placeholder="firstname" required>
      
              </div>
              <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
              class="alert alert-danger">

              <div *ngIf="firstname.errors.required">
                Name is required.
              </div>
            </div>




              
              <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input type="text" [(ngModel)]="registeruser.lastname" class="form-control" #lastname="ngModel" placeholder="lastname" required>
                </div>
                <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
                class="alert alert-danger">
  
                <div *ngIf="lastname.errors.required">
                  lastname is required.
                </div>
              </div>

              <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input type="text" [(ngModel)]="registeruser.username" class="form-control" #username="ngModel" placeholder="lastname" required>
                </div>
  
                <div *ngIf="username.invalid && (username.dirty || username.touched)"
                class="alert alert-danger">
  
                <div *ngIf="lastname.errors.required">
                    username is required.
                </div>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-addon">@</span>
                <input type="email" [(ngModel)]="registeruser.email" #email="ngModel" class="form-control" placeholder="Email" required>
              </div>

              <div *ngIf="email.invalid && (email.dirty || email.touched)"
                class="alert alert-danger">
                <div *ngIf="email.errors.required">
                email is required.
                </div>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" [(ngModel)]="registeruser.password" class="form-control" #password ="ngModel"placeholder="Password" required>
              </div>

              <div *ngIf="password.invalid && (password.dirty || password.touched)"
              class="alert alert-danger">
              <div *ngIf="password.errors.required">
                  password is required.
              </div>
            </div>
  
  
              <div class="input-group mb-4">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" [(ngModel)]="registeruser.confirmpassword"  #confirmpassword ="ngModel"class="form-control" placeholder="Repeat password" required>
              </div>
              <div *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)"
              class="alert alert-danger">
              <div *ngIf="confirmpassword.errors.required">
                  confirmpassword is required.
              </div>
            </div>
  
              <button type="button" (click)="register()"class="btn btn-block btn-success">Create Account</button>
              <div class="alert alert-danger" *ngIf="isfilled">some  Failed are not fill. Try Again...</div>
              <div class="alert alert-danger" *ngIf="!ispasswordMatch">password are not mching. Try Again...</div>
            <div class="card-footer p-4">
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>